/* creating the parallax */
.parallax-1, .parallax2, .parallax-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-1 {
    opacity: 0.9;
    min-height: 100%;
    background-image: url('images/kc.jpg');
}

.parallax-2 {
    opacity: 0.8;
    height: 900px;
    background-image: url('images/award.jpg')
}

.parallax-3 {
    opacity: 0.8;
    height: 900px;
    background-image: url('images/scholar.jpg')
}

.parallax-4 {
    height: 200px;
    background-color: grey;
}

body, html {
    height: 100%;
    /*color: #777;*/
    line-height: 1.8;
    font-family: "Lato", sans-serif;

    /* Hide URL bar */
    /*overflow: hidden;
    overflow-y: scroll;*/
    -webkit-overflow-scrolling:touch;
}